:root {
 
  --color-text: #000000;
  --color-plan-text: #6D6D6D;

  --color-highlight: rgba(252, 92, 22, 1);
  --color-white-bg: rgba(255, 255, 255, 1);
  --color-light-black:#6D6D6D;
  --color-about-bg: rgba(255, 248, 244, 1);
  --color-plan-bg: rgba(252, 92, 22, 0.05);
  
  --color-btn-bg: rgba(240, 240, 240, 1);
  --color-feature-bdr:rgba(255, 255, 255, 0.3);
  --color-about-bdr:rgba(252, 92, 22, 0.2);
  --color-testimonial-lightgray:rgba(255, 255, 255, 0.6);
}
