@use "../util/" as u;

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  // font-size: 28px;
  //font-size: 7.5vw;
  // font-size: calc(16px + 2vw);
  // font-size: clamp(u.rem(28), u.rem(16) + 1vw, u.rem(80));
  // font-size: clamp(u.rem(28), 5vw, u.rem(80));
  font-size: clamp(u.rem(28), 2.5vw + u.rem(20), u.rem(80));
}

h2 {
 
  //font-size: clamp(u.rem(22), 4vw + u.rem(14), u.rem(40));
  font-size: clamp(u.rem(28), 2.3vw, u.rem(40));
}
h3 {
  font-size: clamp(u.rem(28), 2.5vw, u.rem(40));
}
h4 {
  font-size: clamp(u.rem(22), u.rem(14) + 1vh, u.rem(60));
}
p {
  margin-top: 0;
  font-size: u.rem(18);
}
a,
a:visited,
a:active {
  text-decoration: none;
}
